<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">

      <title>PITCH!</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/css/style.css" />
      <link rel="stylesheet" href="/libraries/materialize/css/materialize.min.css" />
  </head>
  <body>
    <nav>
      <div class="nav-wrapper indigo darken-4">
        <div class="col s12 m4 l2">
      <!-- <ul class="left hide-on-med-and-down">
          <li><a class="btn-floating indigo darken-4" href="/wiki"><i class="material-icons">view_quilt</i></a></li>
      </ul> -->
          <ul class="center hide-on-med-and-down">
            <a href="/wiki" class="left hide-on-med-and-down" class="brand-logo">PITCH</a>
            <li><a class="btn-floating indigo darken-4" href="/wiki/new"><i class="material-icons">assignment</i></a></li>
            <li><a class="btn-floating indigo darken-4" href="/wiki/tech/show"><i class="material-icons">code</i></a></li>
            <li><a class="btn-floating indigo darken-4" href="/wiki/travel/show"><i class="material-icons">my_location</i></a></li>
            <li><a class="btn-floating indigo darken-4" href="/wiki/style/show"><i class="material-icons">shopping_basket</i></a></li>
            <li><a class="btn-floating indigo darken-4" href="/wiki/food/show"><i class="material-icons">receipt</i></a></li>
          </ul>
        </div>
      </div>
    </nav>
<!--Search bar!  -->
    <div class="hide-on-small-only">
      <form action="/wiki/search" id="search-form">
        <div class="input-field">
          <input name="search" id="search" type="text" required placeholder="search bar">
          <label id="search-icon" class="label-icon" for="search"><i class="material-icons">search</i></label>
          <button class="indigo darken-4 white-text" type="submit" id="the-button">ENTER</button>
          <!-- <i id="close-icon" class="material-icons">close</i> -->
        </div>
      </form>
    </div>

    <div id="left-column indigo lighten-4">
          <ul class="collapsible popout" data-collapsible="accordin">
            <li>
              <div class="collapsible-header indigo lighten-5"><span class="new badge indigo darken-4">1</span><i class="material-icons">code</i>TECH</div>
              <div class="collapsible-body"><span> Pitch the lastest start-ups, tech trends, or tech podcasts!</span></div>
            </li>

            <li>
              <div class="collapsible-header"><span class="new badge indigo darken-4">4</span><i class="material-icons">receipt</i>FOOD</div>
              <div class="collapsible-body"><span> Pitch the next big hot spot, div bar, or savory dish!</span></div>
            </li>

            <li>
              <div class="collapsible-header indigo lighten-5"><span class="new badge indigo darken-4">3</span><i class="material-icons">my_location</i>TRAVEL</div>
              <div class="collapsible-body"><span> Pitch the hidden local gems or destination locations of 2017!</span></div>
            </li>

            <li>
              <div class="collapsible-header"><span class="new badge indigo darken-4">1</span><i class="material-icons">shopping_basket</i>STYLE</div>
              <div class="collapsible-body"><span> Pitch the styles before they became a trend or the trendsetters before they become a part of the in-crowd!</span></div>
            </li>


          </ul>
        </div>
      <div class="row" id="index-box">
        <div class="col s12 m4 l2">
          <!-- <h1>PITCH!</h1> -->
              <!-- <p>Top Ideas:</p> -->
                <div class="fixed-action-btn horizontal click-to-toggle">
                  <a class="btn-floating btn-large indigo darken-4">
                    <i class="material-icons">menu</i>
                  </a>
                  <ul>
                    <li><a class="btn-floating indigo darken-4" href="/wiki/food/show"><i class="material-icons">receipt</i></a></li>
                    <li><a class="btn-floating indigo lighten-3" href="/wiki/style/show"><i class="material-icons">shopping_basket</i></a></li>
                    <li><a class="btn-floating indigo darken-4" href="/wiki/travel/show"><i class="material-icons">my_location</i></a></li>
                    <li><a class="btn-floating indigo lighten-3" href="/wiki/tech/show"><i class="material-icons">code</i></a></li>
                    <li><a class="btn-floating indigo darken-4" href="/wiki/new"><i class="material-icons">assignment</i></a></li>
                    <li><a class="btn-floating indigo lighten-3" href="/wiki"><i class="material-icons">view_quilt</i></a></li>
                  </ul>
                </div>
        </div>
        <div class="col s12 m4 l8">
          <% wiki.forEach(wiki => { %>
            <div class="card-panel indigo lighten-5">
            <div class="card-content">

                <p>Title: <%= wiki.title %></p>
            </div>
            <div class="date-created">
              <p>Date Created: <%= wiki.date_created %></p>
            </div>
                <p>Category: <%= wiki.category %></p>
                <p>Content: <%= wiki.content %></p>

                <i class="material-icons indigo lighten-3">grade</i>
                <!-- <p><$ wiki.likes %></p> -->
                <a class="white-text" href="/wiki/<%= wiki.id %>/edit"><i class="material-icons">mode_edit</i></a>
              <!-- <a class="white-text" href="/wiki/<%= wiki.id %>/edit"><i class="material-icons">mode_edit</i></a> -->
          </div>
          <% }) %>
        </div>
      </div>
      <script src="/libraries/jquery/jquery.min.js"></script>
      <script src="/libraries/materialize/js/materialize.min.js"></script>
      <script src="/libraries/marked.min.js"></script>
      <script src="js/app.js"></script>

  </body>
</html>
