<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Show Page!</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/css/style.css" />
      <script src="/libraries/jquery/jquery.min.js"></script>
      <link rel="stylesheet" href="/libraries/materialize/css/materialize.min.css" />
      <script src="/libraries/materialize/js/materialize.min.js"></script>
      <script src="/js/app.js"></script>
      <script src="libraries/marked.min.js"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper black"><h1 id="title">Pitch:<%= wiki.category %> Board</h1></div>
    </nav>
    <div class="hide-on-small-only">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <button id="the-search-button"><label id="search-icon" class="label-icon" for="search"><i class="material-icons">search</i></label></button>
          <i id="close-icon" class="material-icons">close</i>
        </div>
      </form>
    </div>
  <div class="col s12 m4 l2">
    <div id="left-column">
          <ul id="dropdown1" class="dropdown-content">
            <li><a id="tech-drop-down" href="/wiki/tech/show">tech</a></li>
            <li class="divider"></li>
            <li><a href="/wiki/travel/show">travel</a></li>
            <li class="divider"></li>
            <li><a href="/wiki/style/show">style</a></li>
            <li class="divider"></li>
            <li><a href="/wiki/food/show">food</a></li>
          </ul>
        <ul class="left hide-on-med-and-down">
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">CATEGORIES<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
  </div>

    <div class="col s12 m4 l2">
        <div id="top-categories">
            <div class="fixed-action-btn horizontal click-to-toggle">
              <a class="btn-floating btn-large black">
                <i class="material-icons">menu</i>
              </a>
              <ul>
                <li><a class="btn-floating teal lighten-3" href="/wiki/food/show"><i class="material-icons">receipt</i></a></li>
                <li><a class="btn-floating black" href="/wiki/style/show"><i class="material-icons">shopping_basket</i></a></li>
                <li><a class="btn-floating teal lighten-3" href="/wiki/travel/show"><i class="material-icons">my_location</i></a></li>
                <li><a class="btn-floating black" href="/wiki/tech/show"><i class="material-icons">code</i></a></li>
                <li><a class="btn-floating teal lighten-3" href="/wiki/new"><i class="material-icons">assignment</i></a></li>
                <li><a class="btn-floating black" href="/wiki"><i class="material-icons">view_quilt</i></a></li>
              </ul>
            </div>
        </div>
    </div>

    <div class="col s12 m4 l8">
      <% wiki.forEach(wiki => { %>
        <div id="show-card-panel" class="card-panel">
        <div class="card-content">
          <p>Title:<%= wiki.title %></p>
        </div>
        <div class="date-created">
          <p>Created At:<%= wiki.date_created %></p>
        </div>
          <p>Category:<%= wiki.category %></p>
          <p> Content:<%= wiki.content %></p>
          <a class="white-text" href="/wiki/<%= wiki.id %>/edit"><i class="material-icons teal lighten-3">mode_edit</i></a>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
